%h1
  Participants
%table.table.table-striped
  %thead
    %tr
      %th
        = t('Total Laps')
  %tbody
    %td
      %strong
        = t(Pilot.all_laps)

%table.table.table-striped
  %thead
    %tr
      %th
        = t('pilot.name')
      %th
        = t('pilot.team')
      %th
        = t('pilot.total_races')
      %th
        = t('pilot.total_laps')
  %tbody
    - @pilots.each do |pilot|
      %tr
        %td
          %strong
            = pilot.name
        %td
          %strong
            = pilot.team
        %td
          %strong
            = pilot.total_races
        %td
          = link_to(pilot.total_laps,{action: 'laps', id: pilot.id},class: 'btn btn-primary')
